.user-login-root{

  min-height: 100vh;
  padding: 10vh;
  background-color: rgb(25, 3, 52);

  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.header-form{

  max-width: fit-content;
  height: 80%;

  display: flex;
  flex-direction: column;
  align-items: center;
  
  background-color: rgb(29, 29, 59);
  border: 0.1px solid rgb(97, 113, 234);
  padding: 50px;
  box-shadow : 1px 1px 5px black;
}

.header-form > .header{

  font-size: 30px;
  font-family: 'Courier New', Courier, monospace;
  color: white;
}


.header-form > .login-form{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 25%;
  }
  
  .header-form > .login-form > input{
    margin-bottom: 30px;
    width: 300px;
  }

  .header-form > .login-form > button{
    width: 300px;
    margin-bottom: 30px;
  }


  .page-name{
    font-size: 60px;
    font-family: 'Courier New', Courier, monospace;
    color: white;
  }

  .page-bio{
    font-size: 30px;
    font-family: 'Courier New', Courier, monospace;
    color: white;
  }


