.PostSection {
    background-color:black;
    border: 0.1px rgb(34, 28, 28) double;
    width: 100%;
    margin-top: 120px;
    z-index:0;
    min-height: 100vh;
    overflow: hidden;
}

.PostSection > .Post{

    display: flex;
    flex-direction: column;
    margin-bottom: 30px;
}

.PostSection > .Post:hover{
    background-color: black;
    opacity: 0.5;
}

.line {
    margin:5px 0;
    height:2px;
    background: repeating-linear-gradient(90deg,red 0 3px,#0000 0 7px)
  }
  